*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.main h1{
    font-size: 4rem;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    min-height: 90vh;
    max-width: 900px;
    margin: auto;
}

.alert{
    display: none;
    color: red;
    text-transform: uppercase;
    font-weight: 800;
}

ul{
    padding: 0;
    min-width: 700px;
}

ul > li{
    list-style: none;
    text-align: center;
    margin: 10px;
    padding: 3px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c2e8c9;
    border-radius: 5px;
}

.delete{
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    font-size: 20px;
    border: none;
    background-color: #819b6e;
}

.delete:hover{
    background-color: red;
    cursor: pointer;
}

#formule{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem 0;
    width: 100%;
}

#itemName{
    width: 50%;
}

#addItem{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darksalmon;
    position: fixed;
    right: 20px;
    bottom: 10px;
}

#addItem:hover{
    background-color: salmon;
    cursor: pointer;
}

@media(max-width:900px){
    .main{
        min-width: 300px;
    }
    ul{
        min-width: 300px;
    }
}