.loader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > span{
    display: inline-block;
    background-color: purple;
    width: 0;
    height: 0;
    border-radius: 50%;
    margin: 0 8px;
    transform: translate3d(0);
    animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2){
    background-color: palevioletred;
    animation-delay: .2s;
}

.loader > span:nth-child(3){
    animation-delay: .4s;
}

@keyframes bounce{
    to{
        width: 16px;
        height: 16px;
        transform: translate3d(0, -16px, 0);
    }
}