@import url('https://fonts.googleapis.com/css?family=Lato|ZCOOL+KuaiLe&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.nav{
    position: fixed;
    top: 0;
    background-color: #333;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.nav a{
    text-decoration: none;
    padding: 0 20px;
    color: azure; 
}

.nav a:hover{
    color: burlywood;
}

.main{
    text-align: center;
    width: 90%;
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
}

.main h1{
    font-size: 40px;
}

.main p{
    font-size: 20px;
    color: #333;
}

.btn{
    display: inline-block;
    background-color: purple;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 15px;
}

.btn:hover{
    opacity: .9;
}